node_modules
android/app/build/generated
android/app/build/intermediates
android/app/build/outputs
android/app/build/tmp
android/.gradle
.DS_Store
android/.DS_Store
android/app/.DS_Store
android/app/build/.DS_Store
android/app/src/.DS_Store
app/src/.DS_Store
app/src/web/Chart.min.js
app/src/web/Chart.min.js
app/src/web/Chart-React-Native.js
app/src/web/view.html
**/.DS_Store
android/app/build/outputs/apk/app-debug.apk
android/app/build/outputs/apk/app-debug-unaligned.apk
android/app/build/outputs/apk/app-release-unaligned.apk
android/app/build/outputs/apk/app-release-unsigned.apk
android/app/app-debug.apk
android/app/app-release-unsigned.apk